<%- include('header'); -%>
<div class="div-table">
  <div class="">
    <p style="color: blue;   text-align: center;"> <b> <em> CLICK ON PHARMACY NAME TO SEE AVAILABLE PRODUCT</em> </b> </p>
  </div>
  <table class="table table-hover table-dark table1">
    <thead>
      <tr>
        <th scope="col" style="color: yellow">#</th>
        <th scope="col" style="color: yellow"> <b> Pharmacy name </b> </th>
        <th scope="col" style="color: yellow"> <b> Drug's name </b> </th>
        <th scope="col" style="color: yellow"> <b> Drug's type  </b> </th>
        <th scope="col" style="color: yellow"> <b>  Quantity </b> </th>
        <th scope="col" style="color: yellow"> <b>  Price </b> </th>

      </tr>
    </thead>
    <tbody>
      <% for(var i=0; i< results.length; i++) { %>
        <tr>
          <th scope="row">  <%= i +1 %> </th>
          <td> <p style = "text-transform:uppercase;"> <a href="/pharmacy/<%= results[i].pharmacyName %>"> <b> <%= results[i].name %> </b> </a> </p> </td>
          <td>  <p style = "text-transform:capitalize;"> <%= results[i].nameOfDrug %>  </p> </td>
          <td> <p style = "text-transform:capitalize;"><%= results[i].typeOfDrug %>  </p> </td>
          <td> <p style = "text-transform:capitalize;"><%= results[i].quantity %>  </p> </td>
          <td> <p style = "text-transform:capitalize;"><%= results[i].price %>  </p> </td>
        </tr>
      <% } %>
    </tbody>
  </table>
</div>
 <h6 style="color: red" > <em> <%= message5 %> </em> </h6>
